<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">QuizCounter</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="NY">
                <span class="oi oi-plus" aria-hidden="true"></span> NY Style
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="By">
                <span class="oi oi-plus" aria-hidden="true"></span> n by n
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="UpDown">
                <span class="oi oi-plus" aria-hidden="true"></span> UpDown
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Swedish">
                <span class="oi oi-plus" aria-hidden="true"></span> Swedish
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Divide">
                <span class="oi oi-plus" aria-hidden="true"></span> Divide by
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
